
@font-face {
    font-family: "Raleway";
    src: url("/fonts/Raleway.ttf");
}

body {
    font-family: Raleway, sans-serif;
}

.global-frame {
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
}

.blue {
    color: #0065fc;
}

.grey {
    color: #d9d9d9;
}

/*--------------------Header--------------------*/

header {
    width: 100%;
}

.header-padding {
    padding: 0 30px 0 30px;
}

/* Menubar */

.menubar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 67px;
}

/* Logo */

.logo {
    display: inline-block;
    order: 1;
    margin: 30px 0 0 30px;
}

/* Menu */

.nav-links {
    display: flex;
    text-align: center;
    margin-left: auto;
    order: 2;
}

.nav-links a {
    border-top: 2px solid #fff;
    text-decoration: none;
    width: 162px;
    padding: 43px 0 0 0;
    color: #000;
}

.nav-links a:hover {
    border-top: 2px solid #0065FC;
    color: #0065FC;
    font-weight: 600;
}

.signup-link {
    display: flex;
    justify-content: center;
    order: 3;
    width: 162px;
}

.signup-link a {
    font-weight: 600;
    text-decoration: none;
    color: #0065FC;
    padding-top: 45px;
}

/* Slogan */

.slogan h1 {
    font-weight: 700;
    font-size: 20px;
    margin: 30px 0 10px 0;
}

/* Barre de recherche */

.searchbar {
    display: flex;
    flex-direction: row;
    height: 50px;
    margin: 25px 0 25px 0;
    width: 420px;
}

.searchbar-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 15px 0 0 15px;
    width: 50px;
    height: 50px;
}

.searchbar input {
    height: 50px;
    border-top: #F2F2F2 solid 1px;
    border-bottom: #F2F2F2 solid 1px;
    border-left: none;
    border-right: none;
    flex-grow: 1;
    font-weight: 600;
    font-size: 15px;
}

.searchbar button {
    background-color: #0065FC;
    border: none;
    border-radius: 0 15px 15px 0;
    margin-right: 0;
    color: white;
    font-family: Raleway, sans-serif;
    font-weight: 600;
    width: 100px;
    height: 50px;
}

/* Filtres */

.filters {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    /*margin: 15px 0 25px 0;*/
}

.filters p {
    font-weight: 700;
    font-size: 18px;
    margin-right: 15px;
}

.filter {
    margin: 7px 15px 7px 15px;
    border: 2px solid #d9d9d9;
    border-radius: 50px;
    display: flex;
    align-items: center;
    height: 50px;
}

.filter-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    border-radius: 50px;
    background-color: #deebff;
    color: #0065fc;
    margin-left: -4px;
    transition: all .1s ease-in-out;
    font-size: 20px;
}

.filter-icon:hover {
    transform: scale(1.1);
}

.filter p {
    font-size: 16px;
    display: flex;
    align-items: center;
    margin-left: 15px;
}

/* Barre d'information */

.information {
    display: flex;
    align-items: center;
    margin: 15px 0 30px 0;
}

.information-icon {
    color: #0065FC;
    font-size: 13px;
    border: #d9d9d9 solid 1px;
    border-radius: 100%;
    padding: 6px 10px 6px 10px;
    margin: 0 15px 0 0;
}

/*--------------------Main--------------------*/

.main-padding {
    padding: 0 30px 0 30px;
    display: flex;
    flex-direction: column;
}

.results-trend-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Tuiles */

.tile {
    transition: all .15s ease-in-out;
    box-shadow: 2px 0px 19px -4px rgb(165, 165, 165);
    border-radius: 20px;
    background-color: #FFFFFF;
    display: flex;
}

.tile:hover {
    box-shadow: 0px 0px 25px 10px rgba(186,186,186,0.3);
    transform: scale(1.02);
}

.tile-img {
    overflow: hidden;
    display: flex;
}

.tile-img img {
    width:100%;
    height: 100%;
    object-fit: cover;
}

.tile-title {
    font-size: 14px;
    font-weight: 700;
}

/* Stars */

.stars {
    font-size: 12px;
    display: flex;
}

/* Results-Box */

.results-box-padding {
    padding: 0 30px 0 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.results-box{
    background-color: #F2F2F2;
    border-radius: 15px;
    float: left;
    width: 61.1%;
    flex-grow: 1;
    margin-right: 30px;
}

.results-box-title {
    height: 55px;
    display: flex;
    align-items: flex-end;
    font-weight: 700;
    font-size: 20px;
    padding: 0 0 10px 0;
}

.results-box-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;
}

.results-box-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70px;
}

.results-box-bottom a {
    text-decoration: none;
    font-weight: 700;
    color: #000;
    transition: all .10s ease-in-out;
}

.results-box-bottom a:hover {
    color: #0065fc;
}

/* Result Tile */

.result-tile {
    display: block;
    width: 30%;
    margin: 15px 0 15px 0;
    height: 200px;
}

.result-tile-padding {
    padding: 5px;
}

.result-tile-img {
    height: 115px;
    border-radius: 15px 15px 0 0;
}

.result-tile-content {
    height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.result img {
    width: 100%;
    height: 114px;
    border-radius: 10px 10px 0 0px;
}

/* Trends */

.trends-box {
    background-color: #F2F2F2;
    border-radius: 15px;
    float: right;
    width: 420px;
    display: flex;
}

.trends-box-padding {
    padding: 0 35px 15px 35px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.trends-box-title {
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-weight: 700;
    font-size: 20px;
    padding: 0 0 10px 0;
}

.trends-box-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

/* Trend-tile */

.trend-tile {
    height: 145px;
    margin: 15px 0 15px 0;
}

.trend-tile-padding {
    padding: 5px;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.trend-tile-img {
    height: 100%;
    width: 130px;
    border-radius: 15px 0 0 15px;
}

.trend-tile-content {
    padding: 10px 0 0 10px;
    flex-grow: 1;
    width: 200px;
    display: flex;
    flex-direction: column;
}

.trend-stars {
    margin-top: auto;
    padding-bottom: 10px;
}

/*--------------------Activities--------------------*/

.activities-box-padding {
    padding: 0 0 30px 0;
}

/* Activities-box */

.activities-box-title {
    height: 75px;
    display: flex;
    align-items: flex-end;
    font-weight: 700;
    font-size: 20px;
    padding: 0 0 20px 0;
}

.activities-box-content {
    display: flex;
    justify-content: space-between;
    height: 505px;
}

.activities-column {
    width: 22%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Activity tiles */

.activity-tile {
    display: flex;
    flex-direction: column;
}

.activity-tile-img {
    flex-grow: 1;
    border-radius: 15px 15px 0 0;
}

.activity-tile-title {
    height: 55px;
    display: flex;
    align-items: center;
    padding: 0 15px 0 15px;
}

.activity-one, .activity-four {
    height: 100%;
}

.activity-two {
    height: 235px;
    margin: 0 0 30px 0;
}

.activity-three, .activity-six {
    flex-grow: 1;
}

.activity-five {
    height: 195px;
    margin: 0 0 30px 0;
}

/*--------------------Footer--------------------*/

footer {
    height: 215px;
    background-color: #f2f2f2;
}

.footer-frame {
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
    height: 215px;
}

.footer-padding {
    display: flex;
    padding: 45px 35px 0 35px;
}

.footer-menu {
    width: 33%;
}

.footer-menu h2 {
    font-weight: 700;
}

.footer-menu ul li {
    margin: 15px 0 15px 0;
}

.footer-menu ul li a {
    color: #000;
    text-decoration: none;
}

.footer-menu ul li a:hover {
    color: #0065FC;
}

/*--------------------Breakpoints--------------------*/

@media (max-width: 1095px) {
    /* Header */

    .menubar {
        height: unset;
    }

    .nav-links {
        width: 100%;
        order: 3;
        border-bottom: 2px solid #fff;
    }

    .nav-links a {
        margin: 30px 0 0 0;
        padding: 0 0 20px 0;
        width: 50%;
    }

    .nav-links a:hover {
        border-top: none;
        border-bottom: 2px solid #0065FC;
    }

    .signup-link {
        float: right;
        top: 0;
        order: 2;
        margin-left: auto;
    }

    .slogan {
        margin: 30px 0 10px 0;
    }

    .searchbar {
        width: 100%;
    }

    .filters {
        width: 100%;
    }

    /* Main */

    .results-trend-block {
        flex-direction: column;
    }

    .trends-box {
        width: 100%;
        border-radius: unset;
    }

    .trend {
        width: 100%;
        order: 1;
    }

    .results-box {
        width: 100%;
        margin-right: unset;
        order: 2;
        background-color: #fff;
    }

    .results-box-content {
        flex-direction: column;
    }

    .main-padding {
        padding: unset;
    }

    .activities-box-padding {
        padding: 0 35px 30px 35px;
    }

    .activities-box-content {
        height: unset;
        flex-direction: column;
    }

    .activities-column {
        width: 100%;
    }

    .tile {
        width: 100%;
    }

    .activity-tile {
        height: 190px;
        margin: 15px 0 15px 0;
    }
}

@media (max-width: 975px) {
    .filters-title {
        width: 100%;
    }
}

@media (max-width: 800px) {
    footer {
        height: unset;
    }

    .footer-frame {
        height: unset;
    }

    .footer-padding {
        flex-direction: column;
    }

    .footer-menu {
        width: 100%;
        margin: 0 0 35px 0;
    }
}